body {
    background-color: #ff7700;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23cc0000' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23aa0000' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23d6002b' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23b10022' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23d9004b' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23b2003d' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23d3006c' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23ac0057' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23c4008c' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%239e0071' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23aa00aa' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23880088' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}

.topnav {
    /* background-color: #FE7F2D; */
    overflow: hidden;
    padding: 8px 8px;
}
.topnav a {
    font-family: 'Oswald', sans-serif;
    color: whitesmoke;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    font-size: 25px;   
    background-color: purple;
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

h1 {
    font-family: 'Righteous', cursive;
    font-size: 55px;
    text-align: center;
    padding: 5px;
    line-height: .5;
}

h3 {
    font-family: 'Righteous', cursive;
    font-size: 48px;
    text-align: center;
    padding: 5px;
    line-height: .5;
}

h4 {
    font-family: 'ABeeZee', sans-serif;
    font-size: 40px;
    text-align: center;
    padding: 3px;
    line-height: .5;
}
h6 {
    font-family: 'Poiret One', cursive;
    font-size: 35px;
    text-align: center;
    padding: 3px;
    color: #E4512A;
    mix-blend-mode: exclusion;
    line-height: .5;
} 

h5 {
    font-family: 'Poiret One', cursive;
    font-size: 35px;
    color: #E4BA2A;
    text-align: center;
    padding: 3px;
    line-height: .5;
}

.recipe-name {
    font-family: 'Poiret One', cursive;
    text-align: center; 
    padding: 25px;
    color: black;   
    line-height: .5;
}

form {
    font-family: 'Poiret One', cursive;
    padding: 10px;
    color: black;
    text-align: center;
    line-height: .5;
}

p {
    font-family: 'Poiret One', cursive;
    font-size: 25px;
    text-align: center;
    line-height: 1;
    color: #E4BA2A;
}

button {
    font-family: 'Poiret One', cursive;
    font-size: 30px;
    display: block;
    border-radius: 12px;
    margin: auto;
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
    transition: o.5s;
}
button:hover {
    background-color: blueviolet;
    color: whitesmoke;
}

input {
    font-size: 25px;
}

.newDish {
    font-family: 'Poiret One', cursive;
    font-size: 30px;
    display: block;
    border-radius: 12px;
    margin: auto;
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
    transition: o.5s;
}
.hint-container {
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0 20%;
    padding: 15px;
}