body {
    background: #cc33ff;
    text-align: center;
}

h1 {
    font-family: 'Righteous', cursive;
    font-size: 55px;
    color: ;
    text-align: center;
    padding: 10px;
}

h3 {
    font-family: 'ABeeZee', sans-serif;
    font-size: 48px;
    color: ;
    text-align: center;
    padding: 10px;
}

h4 {
    font-family: 'ABeeZee', sans-serif;
    font-size: 45px;
    color: ;
    text-align: center;
    padding: 10px;
}

h5 {
    font-family: 'ABeeZee', sans-serif;
    font-size: 30px;
    text-align: center;
    padding: 10px;
}

form {
    font-family: 'ABeeZee', sans-serif;
    text-align: center;
    padding: 10px;
}
p {
    font-family: 'ABeeZee', sans-serif;
    text-align: center;
}


